<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sync2</title>
    <script type = "text/javascript">  
      function page_redirect(){  
      
      window.location = "http://localhost:8080/grind/sync3";  
      
      }  
      
  </script>
  </head>
  <body onLoad="setTimeout('page_redirect()', 3000)">
    <div layout:fragment="content" class="container my-3">
    <div class="Sync2" style="width: 1440px; height: 1024px; position: relative; background: white">
    <img class="Img92261" style="top: 0px; left: 0px; width: 828px; height: 1024px" th:src="@{/image/sync/Ar.png}" />
    <div class="GrinderSync" style="top: 181px; left: 1035px; position: absolute; color: #FC6552; font-size: 32px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Grinder Sync</div>
    <div class="LookingForTheGrinder" style="width: 236px; top: 418px; left: 1012px; position: absolute; text-align: center; color: #FC6552; font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">
      Looking<br />for the<br />Grinder ...
    </div>
    <img class="Settings" style="width: 24px; height: 24px; left: 1380px; top: 961px; position: absolute" th:src="@{/image/sync/settings.png}">
    </div>
</div>
  </body>
</html>
