<div class="NextTask" style="width: 1440px; height: 1024px; position: relative; background: white">
    <div class="Today" style="left: 120px; top: 128px; position: absolute; color: #FC6552; font-size: 32px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Today</div>
    <div class="Upcoming" style="left: 120px; top: 318px; position: absolute; color: #FC6552; font-size: 32px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Upcoming</div>
    <div class="TodaySGrind" style="left: 551px; top: 128px; position: absolute; color: #FC6552; font-size: 32px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Today’s Grind</div>
    <div class="GrindSummary" style="left: 1093px; top: 128px; position: absolute; color: #FC6552; font-size: 32px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Grind Summary</div>
    <div class="Date" style="left: 120px; top: 201px; position: absolute; opacity: 0.50; color: #3B3B3B; font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Friday · May 6, 2022</div>
    <div class="Rectangle58" style="width: 358px; height: 40px; left: 545px; top: 270px; position: absolute; background: #F3F3F2; border-radius: 21.50px"></div>
    <div class="TodaySRoast" style="left: 551px; top: 555px; position: absolute; color: #FC6552; font-size: 32px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Today’s Roast</div>
    <div class="Group482" style="width: 357px; height: 357px; left: 552px; top: 616px; position: absolute">
      <div class="H" style="left: 306px; top: 165px; position: absolute; color: #FC6552; font-size: 13px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">1h</div>
      <div class="M" style="left: 259px; top: 85px; position: absolute; color: #FC6552; font-size: 13px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">45m</div>
      <div class="M" style="left: 164px; top: 42px; position: absolute; color: #FC6552; font-size: 13px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">30m</div>
      <div class="M" style="left: 69px; top: 85px; position: absolute; color: #FC6552; font-size: 13px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">15m</div>
      <div class="Subtract" style="width: 13px; height: 12px; left: 128px; top: 166px; position: absolute; background: #6D412E"></div>
      <div class="MediumDark" style="left: 147px; top: 161px; position: absolute; color: #6D412E; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 600; word-wrap: break-word">Medium Dark </div>
      <div class="Ellipse25" style="width: 357px; height: 357px; left: 0px; top: 0px; position: absolute; background: conic-gradient(from -90deg at 100.00% 100.00%, rgba(250, 250, 249, 0) 0deg, #EB6250 0deg, #453723 180deg); border-radius: 9999px"></div>
      <div class="Ellipse24501" style="width: 21px; height: 21px; left: 168px; top: 5px; position: absolute; background: #FAFAF9; border-radius: 9999px"></div>
    </div>
    <div class="Group270" style="width: 336.50px; height: 48px; left: 544.50px; top: 195px; position: absolute">
      <div class="Ellipse33" style="width: 48px; height: 48px; left: 0.50px; top: 0px; position: absolute; background: #FAFAF9; border-radius: 9999px"></div>
      <div class="Ellipse34" style="width: 48px; height: 48px; left: 192.50px; top: 0px; position: absolute; background: #F3F3F2; border-radius: 9999px"></div>
      <div class="Ellipse41" style="width: 95.50px; height: 48px; left: 0px; top: 0px; position: absolute; border: 0.50px #FC6552 solid"></div>
      <div class="Ellipse40" style="width: 48px; height: 48px; left: 144.50px; top: 0px; position: absolute; background: #FAFAF9; border-radius: 9999px; border: 0.50px #FC6552 solid"></div>
      <div class="Ellipse38" style="width: 48px; height: 48px; left: 240.50px; top: 0px; position: absolute; background: #F3F3F2; border-radius: 9999px"></div>
      <div class="Ellipse39" style="width: 48px; height: 48px; left: 288.50px; top: 0px; position: absolute; background: #F3F3F2; border-radius: 9999px"></div>
      <div class="Ellipse36" style="width: 48px; height: 48px; left: 96.50px; top: 0px; position: absolute; background: #FAFAF9; border-radius: 9999px; border: 0.50px #FC6552 solid"></div>
      <div class="Ellipse37" style="width: 48px; height: 48px; left: 48.50px; top: 0px; position: absolute; background: #FAFAF9; border-radius: 9999px; border: 0.50px #FC6552 solid"></div>
    </div>
    <div class="Settings" style="width: 24px; height: 24px; left: 1380px; top: 961px; position: absolute">
      <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute"></div>
      <div class="Vector" style="width: 19.77px; height: 20px; left: 2.12px; top: 2px; position: absolute; background: #3B3B3B"></div>
    </div>
    <div class="Group488" style="width: 358px; height: 128px; left: 963px; top: 195px; position: absolute">
      <div class="Line4" style="width: 358px; height: 0px; left: 0px; top: 0px; position: absolute; border: 0.50px #D7D7D7 solid"></div>
      <div class="Line5" style="width: 358px; height: 0px; left: 0px; top: 64px; position: absolute; border: 0.50px #D7D7D7 solid"></div>
      <div class="Line6" style="width: 358px; height: 0px; left: 0px; top: 128px; position: absolute; border: 0.50px #D7D7D7 solid"></div>
      <div class="TaskTitle" style="width: 243px; height: 46px; left: 1px; top: 8px; position: absolute; color: #FC6552; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Yesterday</div>
      <div class="TaskTitle" style="width: 243px; height: 46px; left: 1px; top: 73px; position: absolute; color: #FC6552; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">This Week</div>
    </div>
    <div class="YourGrindTodayIsAbout50OfLastWeekSAverage" style="width: 317px; height: 14.88px; left: 567px; top: 282px; position: absolute; color: #FC6552; font-size: 13px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Your grind today is about 50% of last week’s average.</div>
    <div class="Ellipse35" style="width: 48px; height: 48px; left: 737px; top: 195px; position: absolute; background: #FAFAF9; border-radius: 9999px; border: 0.50px #FC6552 solid"></div>
    <div class="Session" style="width: 360px; height: 40px; left: 545px; top: 827px; position: absolute">
      <div class="Group273" style="width: 106px; height: 40px; left: 0px; top: 0px; position: absolute">
        <div class="Rectangle60" style="width: 106px; height: 40px; left: 0px; top: 0px; position: absolute; background: #FC6552; border-radius: 21.50px"></div>
        <div class="Sessions" style="left: 21px; top: 12px; position: absolute; color: #FAFAF9; font-size: 13px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">2 Sessions</div>
      </div>
      <div class="Group274" style="width: 122.09px; height: 40px; left: 120px; top: 0px; position: absolute">
        <div class="Rectangle60" style="width: 122.09px; height: 40px; left: 0px; top: 0px; position: absolute; border-radius: 21.50px; border: 0.50px #FC6552 solid"></div>
        <div class="Min" style="left: 43px; top: 12px; position: absolute; color: #FC6552; font-size: 13px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">15min</div>
      </div>
      <div class="Group275" style="width: 117.91px; height: 40px; left: 242.09px; top: 0px; position: absolute">
        <div class="Rectangle60" style="width: 117.91px; height: 40px; left: 0px; top: 0px; position: absolute; border-radius: 21.50px; border: 0.50px #FC6552 solid"></div>
        <div class="Min" style="left: 41.91px; top: 12px; position: absolute; color: #FC6552; font-size: 13px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">15min</div>
      </div>
    </div>
    <div class="Task" style="width: 503px; height: 64px; left: -41px; top: 813px; position: absolute; border-radius: 89px; overflow: hidden; backdrop-filter: blur(55px)">
      <div class="Rectangle102" style="width: 358px; height: 64px; left: 129px; top: 0px; position: absolute; background: #9B6962; border-radius: 89px"></div>
      <div class="TaskTitle" style="width: 243px; height: 46px; left: 210px; top: 8px; position: absolute; color: white; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Review presentation deck - Chapter 1</div>
      <div class="Ellipse26" style="width: 52px; height: 52px; left: 136px; top: 6px; position: absolute; background: #FC6552; border-radius: 9999px"></div>
    </div>
    <div class="Task" style="width: 503px; height: 64px; left: -41px; top: 391px; position: absolute; border-top-left-radius: 89px; border-top-right-radius: 89px; backdrop-filter: blur(55px)">
      <div class="Rectangle102" style="width: 374px; height: 64px; left: 129px; top: 0px; position: absolute; background: #FC6552; border-top-left-radius: 89px; border-top-right-radius: 89px"></div>
      <div class="TaskTitle" style="width: 243px; height: 46px; left: 210px; top: 8px; position: absolute; color: white; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Archive local data references</div>
      <div class="Ellipse26" style="width: 52px; height: 52px; left: 136px; top: 6px; position: absolute; background: #FAFAF9; border-radius: 9999px"></div>
    </div>
    <div class="Task" style="width: 503px; height: 64px; left: -41px; top: 607px; position: absolute; border-top-left-radius: 89px; border-top-right-radius: 89px; overflow: hidden; backdrop-filter: blur(55px)">
      <div class="Rectangle102" style="width: 374px; height: 64px; left: 129px; top: 0px; position: absolute; background: #FC6552; border-top-left-radius: 89px; border-top-right-radius: 89px"></div>
      <div class="TaskTitle" style="width: 243px; height: 46px; left: 210px; top: 8px; position: absolute; color: white; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Share PPT drive to team</div>
      <div class="Ellipse26" style="width: 52px; height: 52px; left: 136px; top: 6px; position: absolute; background: #FAFAF9; border-radius: 9999px"></div>
    </div>
    <div class="Task" style="width: 438px; height: 64px; left: -41px; top: 463px; position: absolute; border-top-left-radius: 89px; border-top-right-radius: 89px; overflow: hidden; backdrop-filter: blur(55px)">
      <div class="Rectangle102" style="width: 374px; height: 64px; left: 64px; top: 0px; position: absolute; background: #FC6552; border-top-left-radius: 89px; border-top-right-radius: 89px"></div>
      <div class="TaskTitle" style="width: 243px; height: 46px; left: 156px; top: 8px; position: absolute; color: white; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Write and publish Interview interpretation paper </div>
      <div class="Ellipse26" style="width: 52px; height: 52px; left: 70px; top: 6px; position: absolute; background: #FAFAF9; border-radius: 9999px"></div>
    </div>
    <div class="Task" style="width: 503px; height: 64px; left: -41px; top: 535px; position: absolute; border-top-left-radius: 89px; border-top-right-radius: 89px; backdrop-filter: blur(55px)">
      <div class="Rectangle102" style="width: 374px; height: 64px; left: 129px; top: 0px; position: absolute; background: #FC6552; border-top-left-radius: 89px; border-top-right-radius: 89px"></div>
      <div class="TaskTitle" style="width: 243px; height: 46px; left: 210px; top: 8px; position: absolute; color: white; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Summarize target global  market report</div>
      <div class="Ellipse26" style="width: 52px; height: 52px; left: 136px; top: 6px; position: absolute; background: #FAFAF9; border-radius: 9999px"></div>
    </div>
    <div class="Complete" style="left: 120px; top: 751px; position: absolute; color: #FC6552; font-size: 32px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Complete</div>
    <div class="Add" style="width: 280px; height: 64px; left: 127px; top: 677px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
      <div class="Group281" style="width: 64px; height: 64px; position: relative">
        <div class="Ellipse77" style="width: 64px; height: 64px; left: 0px; top: 0px; position: absolute; background: #F3F3F2; border-radius: 9999px"></div>
        <div class="InterfacesPlus" style="width: 24px; height: 24px; left: 20px; top: 20px; position: absolute">
          <div class="CombinedShape" style="width: 13px; height: 13px; left: 6px; top: 6px; position: absolute; background: rgba(59, 59, 59, 0.50); border: 0.15px rgba(59, 59, 59, 0.50) solid"></div>
        </div>
      </div>
    </div>
    <div class="Group491" style="width: 275px; height: 260px; left: 1046px; top: 391px; position: absolute">
      <div class="Button" style="width: 275px; height: 69px; padding-top: 25px; padding-bottom: 24px; padding-left: 120px; padding-right: 114px; left: 0px; top: 0px; position: absolute; background: #FC6552; border-radius: 54px; overflow: hidden; justify-content: flex-end; align-items: center; display: inline-flex">
        <div class="Grind" style="color: #FAFAF9; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Grind </div>
      </div>
      <div class="Button" style="width: 275px; height: 69px; padding-top: 25px; padding-bottom: 24px; left: 0px; top: 191px; position: absolute; background: #3B3B3B; border-radius: 54px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
        <div class="End" style="color: #FAFAF9; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">End</div>
      </div>
      <div class="Button" style="width: 275px; height: 69px; padding-top: 25px; padding-bottom: 24px; padding-left: 120px; padding-right: 112px; left: 0px; top: 93px; position: absolute; background: #593D28; border-radius: 54px; overflow: hidden; justify-content: flex-end; align-items: center; display: inline-flex">
        <div class="Roast" style="color: #FAFAF9; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Roast</div>
      </div>
    </div>
  </div>