<div class="Grinding" style="width: 1440px; height: 1024px; position: relative; background: white">
    <div class="Group485" style="height: 156px; left: 602px; top: 159px; position: absolute">
      <div class="ArchiveLocalDataReferences" style="width: 236px; left: 0px; top: 86px; position: absolute; text-align: center; color: #FC6552; font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Archive local <br/>data references</div>
      <div class="Grinding" style="left: 38px; top: 0px; position: absolute; text-align: center; color: #FC6552; font-size: 32px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Grinding...</div>
    </div>
    <div class="Group490" style="width: 322px; height: 319px; left: 558px; top: 393px; position: absolute">
      <div class="Ellipse25" style="width: 322px; height: 319px; left: 0px; top: 0px; position: absolute; background: radial-gradient(100.00% 100.00% at NaN% NaN%, #FF6350 37%, rgba(255, 137.98, 123.25, 0.08) 100%); border-radius: 9999px"></div>
      <div class="Ellipse26" style="width: 121.59px; height: 120.46px; left: 100.20px; top: 99.27px; position: absolute; background: #FAFAF9; border-radius: 9999px"></div>
      <div class="10" style="width: 99.08px; height: 24.54px; left: 111.46px; top: 147.23px; position: absolute; text-align: center; color: #FC6552; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">49:10</div>
      <div class="Group301" style="width: 35.50px; height: 238.57px; left: 60.56px; top: 224.70px; position: absolute; transform: rotate(-114.34deg); transform-origin: 0 0">
        <div class="Ellipse33" style="width: 35.50px; height: 35.72px; left: 0px; top: 0px; position: absolute; transform: rotate(-114.34deg); transform-origin: 0 0; background: radial-gradient(100.00% 100.00% at NaN% NaN%, #FC6552 76%, rgba(252, 101, 82, 0.85) 89%, rgba(255, 123.90, 107.41, 0.81) 100%); box-shadow: 0px 0px 5px white; border-radius: 9999px"></div>
        <div class="Line8" style="width: 219.44px; height: 0px; left: 10.18px; top: -23.94px; position: absolute; transform: rotate(-23.94deg); transform-origin: 0 0; background: radial-gradient(100.00% 100.00% at NaN% NaN%, #FC6552 76%, rgba(252, 101, 82, 0.85) 89%, rgba(255, 123.90, 107.41, 0.81) 100%)"></div>
      </div>
    </div>
    <div class="Group491" style="width: 275px; height: 167px; left: 1046px; top: 484px; position: absolute">
      <div class="Button" style="width: 275px; height: 69px; padding-top: 25px; padding-bottom: 24px; left: 0px; top: 98px; position: absolute; background: #3B3B3B; border-radius: 54px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
        <div class="End" style="color: #FAFAF9; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">End</div>
      </div>
      <div class="Button" style="width: 275px; height: 69px; padding-top: 25px; padding-bottom: 24px; padding-left: 120px; padding-right: 112px; left: 0px; top: 0px; position: absolute; background: #593D28; border-radius: 54px; overflow: hidden; justify-content: flex-end; align-items: center; display: inline-flex">
        <div class="Roast" style="color: #FAFAF9; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Roast</div>
      </div>
    </div>
    <div class="Settings" style="width: 24px; height: 24px; left: 1380px; top: 961px; position: absolute">
      <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute"></div>
      <div class="Vector" style="width: 19.77px; height: 20px; left: 2.12px; top: 2px; position: absolute; background: #3B3B3B"></div>
    </div>
    <div class="ArrowArrowLeft" style="width: 32px; height: 32px; left: 32px; top: 32px; position: absolute">
      <div class="CombinedShape" style="width: 16px; height: 12px; left: 9.33px; top: 10.67px; position: absolute; background: #FC6552; border: 0.15px #FC6552 solid"></div>
    </div>
  </div>