<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>splash</title>
</head>
<body style="background: #3B3B3B;">
  <div layout:fragment="content" class="container my-3">
  <div class="Splash1" style="width: 1440px; height: 1024px; position: relative; background: #3B3B3B">
    <a th:href="@{/grind/sync1}">
    <img class="Logo" style="width: 231px; height: 114.87px; left: 605px; top: 444px; position: absolute" th:src="@{/image/sync/Logo.png}">
    </a>
  </div>
<div>
</body>
</html>