<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<meta sec:authorize="isFullyAuthenticated()" th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
<meta sec:authorize="isFullyAuthenticated()" th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta sec:authorize="isFullyAuthenticated()" th:if="${_csrf}" name="_csrf_parameter" th:content="${_csrf.parameterName}"/>
<head>
	<link rel="shortcut icon" href="#">
	<title>faq_detail</title>
	<script th:inline="javascript">
		function backToList(frm) {
			frm.action =/*[[@{/grind/question/list}]]*/
				frm.submit();
		}


		function fn_enable(frm) {
			document.querySelector('#i_title').disabled = false;
			document.querySelector('#i_content').disabled = false;
			document.querySelector('#tr_btn').style.display = 'none';
			document.querySelector('#tr_btn_modify').style.display = 'inline';
		}

		function edit_enable(obj) {
			const trElement = obj.closest('tr');
			const btn = trElement.querySelector('#edit_btn');
			const btnModify = trElement.querySelector('#edit_btn_modify');
			const textareas = trElement.querySelectorAll('textarea:last-child');
			textareas.forEach(textarea => (textarea.disabled = false));
			btn.style.display = 'none';
			btnModify.style.display = 'block';
		}

		function edit_disable(obj) {
			const trElement = obj.closest('tr');
			const btn = trElement.querySelector('#edit_btn');
			const btnModify = trElement.querySelector('#edit_btn_modify');
			const textareas = trElement.querySelectorAll('textarea:last-child');
			textareas.forEach(textarea => (textarea.disabled = true));
			btn.style.display = 'block';
			btnModify.style.display = 'none';
		}

		function edit_modify_article(obj, url, articleNo, answerNo) {
			const trElement = obj.closest('tr');
			const textareas = trElement.querySelectorAll('textarea:last-child');
			textareas.forEach(textarea => (textarea.disabled = true));
			let form = document.createElement("form");
			form.setAttribute("method", "post");
			form.setAttribute("action", url);
			let input = document.createElement("input");
			input.setAttribute("type", "hidden");
			input.setAttribute("name", "answerNo");
			input.setAttribute("value", answerNo);
			let input2 = document.createElement("input");
			input2.setAttribute("type", "hidden");
			input2.setAttribute("name", "iii_content");
			input2.setAttribute("value", trElement.querySelector('#iii_content').value);
			let input3 = document.createElement("input");
			input3.setAttribute("type", "hidden");
			input3.setAttribute("name", "articleNo");
			input3.setAttribute("value", articleNo);
			form.appendChild(input);
			form.appendChild(input2);
			form.appendChild(input3);
			document.body.appendChild(form);
			form.submit()
		}


		function fn_disable(frm) {
			document.querySelector('#i_title').disabled = true;
			document.querySelector('#i_content').disabled = true;
			document.querySelector('#tr_btn').style.display = 'inline';
			document.querySelector('#tr_btn_modify').style.display = 'none';
		}


		function fn_modify_article(frm) {
			frm.action = /*[[@{/grind/question/edit}]]*/
				frm.submit()
		}

		function fn_add_article(frm) {
			frm.action = /*[[@{/grind/question/addArticle1}]]*/
				frm.submit()
		}

		function fn_remove(url, articleNo) {
			let form = document.createElement("form");
			form.setAttribute("method", "post");
			form.setAttribute("action", url);
			let input = document.createElement("input");
			input.setAttribute("type", "hidden");
			input.setAttribute("name", "articleNo");
			input.setAttribute("value", articleNo);
			form.appendChild(input);
			document.body.appendChild(form);
			form.submit();
		}

		function edit_remove(url, articleNo, answerNo) {
			let form = document.createElement("form");
			form.setAttribute("method", "post");
			form.setAttribute("action", url);
			let input = document.createElement("input");
			input.setAttribute("type", "hidden");
			input.setAttribute("name", "articleNo");
			input.setAttribute("value", articleNo);
			let input2 = document.createElement("input");
			input2.setAttribute("type", "hidden");
			input2.setAttribute("name", "answerNo");
			input2.setAttribute("value", answerNo);
			form.appendChild(input);
			form.appendChild(input2);
			document.body.appendChild(form);
			form.submit();
		}

		function edit_modify_article(obj, url, articleNo, answerNo) {
			const trElement = obj.closest('tr');
			const textareas = trElement.querySelectorAll('textarea:last-child');
			textareas.forEach(textarea => (textarea.disabled = true));
			let form = document.createElement("form");
			form.setAttribute("method", "post");
			form.setAttribute("action", url);
			let input = document.createElement("input");
			input.setAttribute("type", "hidden");
			input.setAttribute("name", "answerNo");
			input.setAttribute("value", answerNo);
			let input2 = document.createElement("input");
			input2.setAttribute("type", "hidden");
			input2.setAttribute("name", "iii_content");
			input2.setAttribute("value", trElement.querySelector('#iii_content').value);
			let input3 = document.createElement("input");
			input3.setAttribute("type", "hidden");
			input3.setAttribute("name", "articleNo");
			input3.setAttribute("value", articleNo);
			form.appendChild(input);
			form.appendChild(input2);
			form.appendChild(input3);
			document.body.appendChild(form);
			form.submit()
		}

		function likePost(url, articleNo) {
			let form = document.createElement("form");
			form.setAttribute("method", "get");
			form.setAttribute("action", url);
			let input = document.createElement("input");
			input.setAttribute("type", "hidden");
			input.setAttribute("name", "articleNo");
			input.setAttribute("value", articleNo);
			form.appendChild(input);
			document.body.appendChild(form);
			form.submit();
		}

		function dislikePost(url, articleNo) {
			let form = document.createElement("form");
			form.setAttribute("method", "get");
			form.setAttribute("action", url);
			let input = document.createElement("input");
			input.setAttribute("type", "hidden");
			input.setAttribute("name", "articleNo");
			input.setAttribute("value", articleNo);
			form.appendChild(input);
			document.body.appendChild(form);
			form.submit();
		}


	</script>
	<style>
		#tr_btn_modify {
			display: none;
		}

		#edit_btn_modify {
			display: none;
		}

		.form-control:focus {
			border-color: #FC6552;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
		}
	</style>
</head>

<body>
	<div layout:fragment="content" class="container my-3">
		<form name="articleForm" method="post" action="" class="my-3">
			<div class="mb-3">
				<label for="subject" class="form-label"
					style="color: #FC6552; font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Title</label>
				<div>
					<textarea rows="1" name="i_title" id="i_title" width="100%" class="form-control"
						disabled>[[${article.title}]]</textarea>
				</div>
				<label for="content" class="form-label"
					style="color: #FC6552; font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Question</label>
				<div>
					<textarea rows="10" name="i_content" id="i_content" width="100%" class="form-control"
						disabled>[[${article.content}]]</textarea>
				</div>
				<div class="mb-2">
					<span th:text="'작성자: '+${article.writeId.username}"></span>
				</div>
				<!--<div class="mb-2">
					<span th:text="'작성일자: '+${article.writeDate}"></span>
				</div>
				<div class="mb-2">
					<span th:text="'수정일자: '+${article.modifyDate}"></span>
				</div>-->
			</div>
			<div id="tr_btn">
				<td colspan="2" align="center">
					
					<input type="button" value="Edit" class="btn"
						style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9; font-size: 18px; font-family: Plus Jakarta Sans;"
						sec:authorize="isAuthenticated()"
						th:if="${article.writeId != null and #authentication.getPrincipal().getUsername() == article.writeId.username}"
						onclick="fn_enable(articleForm)">
					<input type="button" value="Delete" class="btn"
						style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9; font-size: 18px; font-family: Plus Jakarta Sans;"
						sec:authorize="isAuthenticated()"
						th:if="${article.writeId != null and #authentication.getPrincipal().getUsername() == article.writeId.username}"
						th:onclick="|fn_remove('@{/grind/question/remove}', '${article.articleNo}')|">
					<input type="button" value="ViewList" class="btn"
						style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9; font-size: 18px; font-family: Plus Jakarta Sans;"
						onclick="backToList(articleForm)">
				</td>
			</div>
			<div id="tr_btn_modify">
				<td colspan="2" align="center">
					<input type="button" value="Submit" class="btn"
						style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9; font-size: 18px; font-family: Plus Jakarta Sans;"
						onclick="fn_modify_article(articleForm)">
					<input type="button" value="Cancel" class="btn"
						style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9; font-size: 18px; font-family: Plus Jakarta Sans;"
						onclick="fn_disable(articleForm)">
				</td>
			</div>
			<div class="mb-3">
				<label class="form-label">View Count:</label>
				<span th:text="${article.viewCount}"></span>
			</div>
			<div class="mb-3">
				<input type="button" value="Like" class="btn"
					style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9; font-size: 18px; font-family: Plus Jakarta Sans;"
					sec:authorize="isAuthenticated()"
					th:onclick="|likePost('@{/grind/question/like}', '${article.articleNo}')|">
				<td>
					<span class="ms-2" th:text="${article.likeCount}"></span> Likes
				</td>
				<input type="button" value="Dislike" class="btn"
					style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9; font-size: 18px; font-family: Plus Jakarta Sans;"
					sec:authorize="isAuthenticated()"
					th:onclick="|dislikePost('@{/grind/question/dislike}', '${article.articleNo}')|">
				<td>
					<span class="ms-2" th:text="${article.dislikeCount}"></span> Disikes
				</td>
			</div>
			<div>
				<input type="hidden" name="articleNo" th:value="${article.articleNo}">
			</div>
		</form>
		<form name="answerForm" action=" " method="post" class="my-3">
			<div>
				<input type="hidden" name="articleNo" th:value="${article.articleNo}">
			</div>
			<div class="mb-3" style="border-color:#FC6552">
				<label for="a_content" class="form-label"
					style="color: #FC6552; font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Content</label>
				<textarea name="ii_content" id="ii_content" class="form-control" sec:authorize="isAnonymous()" disabled
					rows="10"></textarea>
				<textarea name="ii_content" id="ii_content" class="form-control" sec:authorize="isAuthenticated()"
					ows="10"></textarea>
			</div>
			<div>
				<input type="submit" value="Submit" class="btn"
					style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9"
					onclick="fn_add_article(answerForm)">
			</div>
		</form>
		<form name="answerList" method="post">
			<table class="table">
				<thead>
					<tr class="text-center table-default" style="color: #FC6552;" width="100%">
						<th
							style="font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">
							AnswerNo</th>
						<th
							style="font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">
							Author</th>
						<th
							style="width:35%; font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">
							Content</th>
						<th
							style="font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">
							Date</th>
						<th
							style="font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">
						</th>

					</tr>
				</thead>
				<tbody id="list_id">
					<tr height="10" th:if="${#strings.isEmpty(answer_list)}">
						<td colspan="4" align="center">
							<b><span style="font-size: 9pt;">No answers are uploaded.</span></b>
						</td>
					<tr id="parent" th:unless="${#strings.isEmpty(answer_list)}" th:each="ans : ${answer_list}"
						style="vertical-align: middle;">
						<td width="5%"
							style="font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word; color:#3b3b3b">
							[[${ansStat.count}]]
						</td>
						<td width="10%"
							style="font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word; color:#3b3b3b">
							[[${ans.writeId.username}]]
						</td>
						<td align="left" width="35%"
							style="font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word; color:#3b3b3b; vertical-align: middle;">
							<span style="padding-right: 80px;"></span>
							<textarea name="iii_content" id='iii_content' class="form-control" rows="2"
								disabled>[[${ans.content}]]</textarea>
						</td>
						<td width="10%"
							style="font-size: 18px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word; color:#3b3b3b">
							[[${ans.writeDate}]]
						</td>
						<td id="edit_btn" colspan="2" align="center">
							
							<input type="button" value="Edit" class="btn"
								style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9; vertical-align: middle;"
								sec:authorize="isAuthenticated()"
								th:if="${ans.writeId != null and #authentication.getPrincipal().getUsername() == ans.writeId.username}"
								th:onclick="edit_enable(this)">
							<input type="button" value="Delete" class="btn"
								style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9; vertical-align: middle;"
								sec:authorize="isAuthenticated()"
								th:if="${ans.writeId != null and #authentication.getPrincipal().getUsername() == ans.writeId.username}"
								th:onclick="|edit_remove('@{/grind/question/remove1}', '${article.articleNo}', '${ans.answerNo}')|">
						</td>
						<td id="edit_btn_modify" colspan="2" align="center">
							<input type="button" value="Submit" class="btn"
								style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9; vertical-align: middle;"
								th:onclick="|edit_modify_article(this, '@{/grind/question/edit1}', '${article.articleNo}', '${ans.answerNo}')|">
							<input type="button" value="Cancel" class="btn"
								style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9; vertical-align: middle;"
								th:onclick="edit_disable(this)">
						</td>
						<input type="hidden" name="articleNo" th:value="${article.articleNo}">
						<input type="hidden" name="answerNo" th:value="${ans.answerNo}">
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>

</html>