<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout}">

<head>
	<link rel="shortcut icon" href="#">
	<title>login</title>
	<style>
		.form-control:focus {
			border-color: #FC6552;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
		}
	</style>
</head>
<div layout:fragment="content" class="container my-3">
	<form th:action="@{/grind/login}" method="post">
		<div th:if="${param.error}">
			<div class="alert alert-danger">
				사용자ID 또는 비밀번호를 확인해 주세요.
			</div>
		</div>
		<div class="mb-3">
			<label for="username" class="form-label">사용자ID</label>
			<input type="text" name="username" id="username" class="form-control">
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">비밀번호</label>
			<input type="password" name="password" id="password" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary"
			style="background: #3b3b3b; border-color: #3b3b3b; color:#FAFAF9">로그인</button>
	</form>
</div>

</html>