<div class="Reward" style="width: 1440px; height: 1024px; position: relative; background: #FAFAF9">
    <div class="Settings" style="width: 24px; height: 24px; left: 1380px; top: 961px; position: absolute">
      <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute"></div>
      <div class="Vector" style="width: 19.77px; height: 20px; left: 2.12px; top: 2px; position: absolute; background: #FAFAF9"></div>
    </div>
    <div class="ArrowArrowLeft" style="width: 32px; height: 32px; left: 32px; top: 32px; position: absolute">
      <div class="CombinedShape" style="width: 16px; height: 12px; left: 9.33px; top: 10.67px; position: absolute; background: #FC6552; border: 0.15px #FC6552 solid"></div>
    </div>
    <div class="Group446" style="width: 258px; height: 384px; left: 628px; top: 391px; position: absolute">
      <img class="Union" style="width: 169.67px; height: 57.11px; left: -0px; top: 63.21px; position: absolute; border: 0.50px white solid" src="https://via.placeholder.com/170x57" />
      <div class="Ellipse24505" style="width: 166.82px; height: 57.22px; left: 2.21px; top: 33.13px; position: absolute; background: #3B3B3B; border-radius: 9999px; border: 0.50px #FAFAF9 solid"></div>
      <img class="Union" style="width: 169.67px; height: 290.09px; left: -0px; top: 93.91px; position: absolute; border: 0.50px #FAFAF9 solid" src="https://via.placeholder.com/170x290" />
      <div class="Group445" style="width: 16.68px; height: 147.58px; left: 76.35px; top: 183.72px; position: absolute">
        <div class="Rectangle84" style="width: 16.68px; height: 147.58px; left: 0px; top: 0px; position: absolute; background: #F3F3F2; border-radius: 13px"></div>
        <div class="Rectangle85" style="width: 16.68px; height: 6.02px; left: -0px; top: 141.55px; position: absolute; background: #FC6552; border-top-left-radius: 13px; border-top-right-radius: 13px"></div>
      </div>
      <div class="Ellipse24508" style="width: 40.78px; height: 10.54px; left: 63.38px; top: 57.22px; position: absolute; background: #F3F3F2; border-radius: 9999px"></div>
      <div class="Vector33" style="width: 150.14px; height: 42.16px; left: 87.47px; top: 18.07px; position: absolute; border-radius: 8px; border: 2.50px #3B3B3B solid"></div>
      <div class="Ellipse24510" style="width: 25.95px; height: 7.53px; left: 72.65px; top: 58.73px; position: absolute; background: #3B3B3B; border-radius: 9999px"></div>
      <div class="Ellipse24509" style="width: 42.63px; height: 34.64px; left: 215.37px; top: -0px; position: absolute; background: #3B3B3B; border-radius: 9999px"></div>
    </div>
    <div class="Group492" style="height: 121px; left: 600px; top: 159px; position: absolute">
      <div class="G" style="width: 236px; left: 0px; top: 86px; position: absolute; text-align: center; color: #FC6552; font-size: 28px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">180g</div>
      <div class="Rewards" style="left: 52px; top: 0px; position: absolute; text-align: center; color: #FC6552; font-size: 32px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Rewards</div>
    </div>
    <div class="Only120gUntilYourNextReward" style="left: 484px; top: 840px; position: absolute; text-align: center; color: #3B3B3B; font-size: 32px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Only 120g  until your next reward</div>
  </div>