<!DOCTYPE html>
<html lang="ko">

            <head>
                <meta charset="UTF-8">
                <title>상세 조회</title>
                <script>
                    function backToList(frm) {
                        frm.action= "{% url 'noticeboard:index' %}"
                        frm.submit();
                    }
                    function fn_enable(frm) {
                        document.querySelector('#i_title').disabled=false;
                        document.querySelector('#i_content').disabled=false;
                        document.querySelector('#tr_btn').style.display='none';
                        document.querySelector('#tr_btn_modify').style.display='table-row';
                    }
                    function fn_modify_article(frm, original_user, login_user) {
                        if(original_user != login_user) {
                            alert("사용자를 확인하세요!");
                            return false;
                        }
                        frm.action="{%url 'noticeboard:update' article.id %}";
                        frm.submit();
                    }
                    function fn_remove(frm, original_user, login_user) {
                        if(original_user != login_user) {
                            alert("사용자를 확인하세요!");
                            return false;
                        }
                        frm.action="{% url 'noticeboard:delete' article.id %}";
                        frm.submit();
                    }
                </script>
                <style>
                    #tr_btn_modify {
                        display: none;
                    }
                    
                </style>
            </head>
            <body>
                <form name="articleForm" method="post" action="">
                    {% csrf_token %}
                    <table border="0" align="center">
                        <tbody>
                            <tr>
                                <td width="150" align="center" bgcolor="#FF9933">글번호</td>
                                <td>
                                    <input type="text" value="{{article.id}}" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td width="150" align="center" bgcolor="#FF9933">작성자</td>
                                <td>
                                    <input type="text" value="{{article.write_id}}" name="writer" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td width="150" align="center" bgcolor="#FF9933">제목</td>
                                <td>
                                    <input type="text" value="{{article.title}}" name="title" id="i_title" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td width="150" align="center" bgcolor="#FF9933">내용</td>
                                <td>
                                    <textarea rows="20" cols="60" name="content" id="i_content" disabled>{{article.content}}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" align="center" bgcolor="#FF9933">작성일</td>
                                <td>
                                    <input type="text" value="{{article.write_date}}" disabled>
                                </td>
                            </tr>
                            <tr id="tr_btn">
                                <td colspan="2" align="center">
                                    <input type="button" value="수정" onclick="fn_enable()">
                                    <input type="button" value="삭제" 
                                    onclick="fn_remove(articleForm, '{{article.write_id}}', '{{user.username}}')">
                                    <input type="button" value="목록보기" onclick="backToList(articleForm)">
                                </td>
                            </tr>
                            <tr id="tr_btn_modify">
                                <td colspan="2" align="center">
                                    <input type="button" value ="저장" onclick="fn_modify_article(articleForm)">
                                    <input type="button" value="취소" onclick="backToList(articleForm)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </body>
            </html>